<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="General">
		<setting id="UseInputStream" label="Use InputStream Adaptive/Direct" type="bool" default="true"/>
		<setting id="UseHlsStream" label="Use HLS stream" type="bool" default="false"/>
		<setting id="AceIp" type="text" label="Ace Stream IP" default="127.0.0.1"/>
		<setting id="AcePort" type="number" label="Ace Stream Port" default="6878"/>
	</category>
</settings>