<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="General">
    <setting id="server_id" label="Target host peer id" type="text" default=""/>
    <setting id="client_vsync" label="Vertical sync" type="bool" default="false"/>
    <setting id="client_audio_buffer" label="Audio buffer" type="number" default="80"/>
    <setting label="You can find the peer id by opening computers tab on host." type="lsep"/>
  </category>
</settings>