<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="Abonnement">
    <setting id="LoginType" type="select" label="Inloggen met" default="Abonnementsnummer" values="Abonnementsnummer|Emailadres"/>
    <setting type="sep"/>
    <setting id="LoginUsername" type="text" label="Abonnementsnummer" default=""/>
    <setting id="LoginPassword" type="text" label="Pincode" option="hidden" default=""/>
    <setting type="sep"/>
    <setting id="LoginEmail" type="text" label="Emailadres" default=""/>
    <setting id="LoginPasswordEmail" type="text" label="Wachtwoord" option="hidden" default=""/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Algemeen">
    <setting id="AddonAccent" type="select" label="Gebruikte kleurenschema" default="Groen" values="Groen|Blauw|Geel|Grijs"/>
    <setting id="TelevisionChannelView" type="select" label="Televisiezenders weergavestijl" default="Lijst" values="Lijst|Blokken|Minimaal"/>
    <setting id="TelevisionHideEarlierAired" label="Eerder uitgezonden programma's niet tonen" type="bool" default="false"/>
    <setting id="TelevisionChannelNoErotic" label="Toon geen erotische media-inhoud" type="bool" default="true"/>
    <setting id="SearchFilterFuzzy" label="Vergelijkbare zoek resultaten tonen" type="bool" default="false"/>
    <setting id="AfsluitschermOverslaan" label="Afsluitscherm op hoofdpagina overslaan" type="bool" default="false"/>
    <setting id="ResetUserdata" type="action" label="Verwijder userdatabestanden" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?ResetUserdata)"/>
    <setting id="ResetThumbnails" type="action" label="Alle zenderlogo's vernieuwen" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?ResetThumbnails)"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Afspelen">
    <setting id="PlayerSubtitlesOff" label="Ondertiteling bij begin van stream uitzetten" type="bool" default="true"/>
    <setting id="PlayerInformationCloseTime" label="Aantal seconden voordat informatie sluit in speler" type="slider" default="10" range="4,2,30" option="int"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Opstarten">
    <setting id="RunAddonOnKodiLaunch" label="Start Webbie Player bij het opstarten van Kodi" type="bool" default="false"/>
    <setting id="StartWithLastChannel" label="Open laatstbekeken tv-zender bij het opstarten van add-on" type="bool" default="false"/>
    <setting id="StartWithTelevision" label="Open televisiepagina bij het opstarten van add-on" type="bool" default="false"/>
    <setting id="StartWithKids" label="Open kidspagina bij het opstarten van add-on" type="bool" default="false"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Kids Slot">
    <setting id="KidsPageLock" label="Vraag om pincode bij sluiten van kidspagina" type="bool" default="false"/>
    <setting id="KidsHiddenLock" label="Vraag om pincode bij zenders niet meer verbergen" type="bool" default="false"/>
    <setting id="KidsPincode" type="text" label="Gebruikte pincode" option="hidden" default="1234"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Slaap Timer">
    <setting id="SleepTimerCloseKodi" label="Sluit alleen Kodi in plaats van het gehele apparaat" type="bool" default="true"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Stream">
    <setting id="StreamResolution" type="select" label="Maximale resolutie van de videostream" default="1080pNormal" values="1080pBest|1080pHigh|1080pNormal|720p|576p|432p|360p|180p"/>
    <setting id="CustomUserAgent" type="text" label="User-agent verbindingsidentificatie" default="Webbie Player"/>
    <setting id="UseLocalhostProxy" label="Gebruik lokale proxy server voor stream verbinding" type="bool" default="false"/>
    <setting id="InputAdaptiveSettings" type="action" label="Open de inputstream-adaptive add-on instellingen" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?InputAdaptiveSettings)"/>
    <setting id="UpdateWidevineFiles" type="action" label="Update de benodigde Widevine-beveiligingsbestanden" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?UpdateWidevineFiles)"/>
    <setting label="* Hier kunt u de streamkwaliteit-instellingen optimaliseren." type="lsep"/>
    <!-- Hidden variable settings -->
    <setting id="LoginDeviceId120" type="text" visible="false" default=""/>
    <setting id="WidevineVersion" type="text" visible="false" default=""/>
    <setting id="CurrentRadioId" type="text" visible="false" default=""/>
    <setting id="CurrentChannelId" type="text" visible="false" default=""/>
    <setting id="CurrentExternalId" type="text" visible="false" default=""/>
    <setting id="CurrentChannelName" type="text" visible="false" default="Onbekende zender"/>
    <setting id="LastChannelId" type="text" visible="false" default=""/>
    <setting id="LastExternalId" type="text" visible="false" default=""/>
    <setting id="LastChannelName" type="text" visible="false" default="Onbekende zender"/>
    <setting id="LoadChannelFavoritesOnly" type="text" visible="false" default="false"/>
  </category>
</settings>