<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="Abonnement">
    <setting id="LoginType" type="select" label="Inloggen met" default="Abonnementsnummer" values="Abonnementsnummer|Emailadres"/>
    <setting type="sep"/>
    <setting id="LoginUsername" type="text" label="Abonnementsnummer" default=""/>
    <setting id="LoginPassword" type="text" label="Pincode" option="hidden" default=""/>
    <setting type="sep"/>
    <setting id="LoginEmail" type="text" label="Emailadres" default=""/>
    <setting id="LoginPasswordEmail" type="text" label="Wachtwoord" option="hidden" default=""/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Algemeen">
    <setting id="AddonAccent" type="select" label="Gebruikte kleurenschema" default="Groen" values="Groen|Blauw|Geel|Grijs"/>
    <setting id="TelevisionChannelView" type="select" label="Televisiezenders weergavestijl" default="Lijst" values="Lijst|Blokken|Minimaal"/>
    <setting id="RadioChannelView" type="select" label="Radiozenders weergavestijl" default="Blokken" values="Lijst|Blokken"/>
    <setting id="TelevisionHideEarlierAired" label="Toon geen eerder uitgezonden programma's" type="bool" default="false"/>
    <setting id="TelevisionHideUpcomingAired" label="Toon geen later uitgezonden programma's" type="bool" default="false"/>
    <setting id="SearchFilterFuzzy" label="Toon vergelijkbare en niet identieke zoekresultaten" type="bool" default="false"/>
    <setting id="CacheCleanTimeOther" label="Media automatisch vernieuw tijd in minuten" type="slider" default="10" range="1,1,20" option="int"/>
    <setting id="SwitchAdultFilter" type="action" label="Erotische media in- of uitschakelen" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?SwitchAdultFilter)"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Hoofdpagina">
    <setting id="AfsluitschermOverslaan" label="Afsluitscherm op hoofdpagina overslaan" type="bool" default="false"/>
    <setting id="MainShowTelevision" label="Toon Televisie op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowRadio" label="Toon Radio op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowMovies" label="Toon Films op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowSeries" label="Toon Series op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowEpg" label="Toon TV Gids op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowSearch" label="Toon Terugzoeken op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowSport" label="Toon Sport Gemist op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowVod" label="Toon Programma Gemist op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowKids" label="Toon Kids op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowRecordDone" label="Toon Bekijk Opnames op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowRecordEvent" label="Toon Geplande Opnames op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowRecordSeries" label="Toon Geplande Series op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowAlarm" label="Toon Alarmen op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowSleep" label="Toon Slaap Timer op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowHelp" label="Toon Help op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowRefresh" label="Toon Vernieuwen op hoofdpagina" type="bool" default="false"/>
    <setting id="MainShowSettings" label="Toon Instellingen op hoofdpagina" type="bool" default="true"/>
    <setting id="MainShowShutdown" label="Toon Sluiten op hoofdpagina" type="bool" default="true"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Afspelen">
    <setting id="PlayerSubtitlesOff" label="Ondertiteling bij begin van stream uitzetten" type="bool" default="true"/>
    <setting id="PlayerInformationInterface" label="Toon scherm met zender en programma info in speler" type="bool" default="true"/>
    <setting id="PlayerInformationCloseTime" label="Aantal seconden voordat informatie sluit in speler" type="slider" default="10" range="4,2,30" option="int"/>
    <setting id="PlayerSeekOffsetStartMinutes" label="Minuten spoelen bij begin programma terugkijken" type="slider" default="4" range="0,1,8" option="int"/>
    <setting id="PlayerSeekBackMinutes" label="Minuten dat teruggespoeld kan worden tv stream" type="slider" default="240" range="30,30,1440" option="int"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Opstarten">
    <setting id="RunAddonOnKodiLaunch" label="Start Webbie Player bij het opstarten van Kodi" type="bool" default="false"/>
    <setting id="StartWithLastChannel" label="Open laatstbekeken tv-zender bij het opstarten van add-on" type="bool" default="false"/>
    <setting id="StartWithTelevision" label="Open televisiepagina bij het opstarten van add-on" type="bool" default="false"/>
    <setting id="StartWithKids" label="Open kidspagina bij het opstarten van add-on" type="bool" default="false"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Kids Slot">
    <setting id="KidsSwitchLock" type="action" label="Vraag pincode bij o.a. sluiten van kidspagina in- of uitschakelen" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?KidsSwitchLock)"/>
    <setting id="KidsChangePincode" type="action" label="Gebruikte kids pincode wijzigen" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?KidsChangePincode)"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Slaap Timer">
    <setting id="SleepTimerCloseKodi" label="Sluit alleen Kodi in plaats van het gehele apparaat" type="bool" default="true"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Onderhoud">
    <setting id="ResetUserdata" type="action" label="Verwijder userdata bestanden" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?ResetUserdata)"/>
    <setting id="ResetCache" type="action" label="Verwijder tijdelijke cache bestanden" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?ResetCache)"/>
    <setting id="ResetThumbnails" type="action" label="Alle opgeslagen zenderlogo's vernieuwen" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?ResetThumbnails)"/>
    <setting id="UpdateWidevineFiles" type="action" label="Update de benodigde Widevine-beveiligingsbestanden" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?UpdateWidevineFiles)"/>
    <setting label="* Sommige opties werken pas na een herstart." type="lsep"/>
  </category>
  <category label="Stream">
    <setting id="StreamResolution" type="select" label="Maximale resolutie van de videostream" default="1080pNormal" values="1080pBest|1080pHigh|1080pNormal|720p|576p|432p|360p|180p"/>
    <setting id="CustomUserAgent" type="text" label="User-agent verbindingsidentificatie" default="Webbie Player"/>
    <setting id="UseLocalhostProxy" label="Gebruik lokale proxy server voor stream verbinding" type="bool" default="false"/>
    <setting id="InputAdaptiveSettings" type="action" label="Open de inputstream-adaptive add-on instellingen" option="close" action="RunPlugin(plugin://plugin.video.xs4allwebbieplayer?InputAdaptiveSettings)"/>
    <setting label="* Hier kunt u de streamkwaliteit-instellingen optimaliseren." type="lsep"/>
  </category>
  <category label="Hidden">
    <setting id="LoginDeviceId120" type="text" visible="false" default=""/>
    <setting id="WidevineVersion" type="text" visible="false" default=""/>
    <setting id="CurrentRadioId" type="text" visible="false" default=""/>
    <setting id="CurrentChannelId" type="text" visible="false" default=""/>
    <setting id="LastChannelId" type="text" visible="false" default=""/>
    <setting id="LoadChannelFavoritesOnly" type="text" visible="false" default="false"/>
    <setting id="TelevisionChannelNoErotic" type="text" visible="false" default="false"/>
    <setting id="KidsPincode" type="text" visible="false" default="1234"/>
    <setting id="KidsPageLock" type="text" visible="false" default="false"/>
  </category>
</settings>